.videos {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.col {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;    
}