.diagram{
    text-align: center;
    padding:1em;
}

.diagram img{
    width:100%;
    padding:2em;
}

@media screen and (max-width: 996px) {
    .diagram{
        padding:0rem;
    }
    .diagram img{
        padding:0rem;
    }
}