.diagram{
    text-align: center;
    padding:1em;
}

.diagram h1{
    padding-bottom: 1em;
}

.diagram .front{
    background-image: url("/static/img/beepy-diagram-full.svg");
    background-repeat: no-repeat;
    background-size: contain;    
    width:100%;
    height:600px;
}

@media screen and (max-width: 996px) {
    .diagram .front{
        background-repeat: no-repeat;
        background-size: 180%;
        width: 100%;
        height: 300px;        
    }
    .diagram .back{
        background-image: url("/static/img/beepy-diagram-full.svg");
        background-repeat: no-repeat;
        background-size: 180%;
        background-position: right;
        width: 100%;
        height: 360px;        
    }    
}